<html>

	<head>
		<title>{% block title %}{% endblock %}</title>
		
		<meta name="description" content="{% block description %}{% endblock %}" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		
		<link rel="shortcut icon" href="/static/img/caguei.ico" />
				
		<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
		{% block css %}{% endblock %}
	
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/base.js"></script>
		{% block js %}{% endblock %}
		
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3284799-8']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>		
	</head>
		
	<body>
	
		<div class="header">
			<div class="header-container">
				<div class="title">
					<a href="/">
						<h1>{% block h1 %}{% endblock %}</h1>
						<span>caguei.com.br</span>
					</a>
				</div>
				<div class="menu">
					<a href="/" class="botao botao-home">home</a>
					<a href="/criar-assunto" class="botao botao-criar-assunto">criar assunto</a>
				</div>
			</div>
		</div>

		<div class="page">
			<div class="page-container">
				{% block content %}{% endblock %}
			</div>
		</div>

		<div class="footer">
			<div class="footer-container">
				<div class="copyright">
					© 2012-{{ now|date:"Y" }}. Todos os direitos reservados.
				</div>
				<div class="email">
					contato@caguei.com.br
				</div>
			</div>
		</div>

	</body>

</html>