{% extends "base.html" %}

{% block title %}Caguei{% endblock %}

{% block description %}Já deu a sua cagada hoje?{% endblock %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/home.css" />
{% endblock %}
	
{% block js %}
	<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}

{% block h1 %}Caguei{% endblock %}

{% block content %}

	<div class="box-caguei">
		<input type="text" name="url-caguei" id="url-caguei">
		<a href="#" id="btn-caguei">Caguei</a>
		<div id="msg-caguei"></div>
	</div>
	
	<div class="barra-social">

		<div class="button-social">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="segoe ui"></div>
		</div>

		<div class="button-social">
			<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="caguei">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>		
		</div>

		<div class="button-social">
			<!-- Coloque esta tag onde você deseja que o botão +1 seja renderizado -->
			<div class="g-plusone" data-size="medium" data-href="http://www.caguei.com.br"></div>
			<!-- Coloque esta chamada de renderização conforme necessário -->
			<script type="text/javascript">
			  window.___gcfg = {lang: 'pt-BR'};
			
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</div>

	</div>

	<div class="top-10 top-10-url">
		<div class="header-top-10-url">top 10 <strong>url</strong></div>

		{% for url in top_urls %}
			<a href="/{{ url.id }}">
				<div class="lista">
					<div class="ordem">{{ forloop.counter}}º</div>
					<div class="titulo">{{ url.get_titulo_curto }}</div>
					<div class="url">{{ url.get_url_curta }}</div>
					<div class="qtd"><strong>{{ url.qtd }}</strong> cagadas</div>
				</div>
			</a>
		{% endfor %}
	</div>
	
	<div class="top-10 top-10-assunto">
		<div class="header-top-10-assunto">top 10 <strong>assunto</strong></div>

		{% for assunto in top_assuntos %}
			<a href="/assunto/{{ assunto.id }}">
				<div class="lista">
					<div class="ordem">{{ forloop.counter}}º</div>
					<div class="data">{{ assunto.criacao }}</div>
					<div class="assunto">{{ assunto.get_descricao_curta }}</div>
					<div class="qtd"><strong>{{ assunto.qtd }}</strong> cagadas</div>
				</div>
			</a>
		{% endfor %}
	</div>
	
{% endblock %}