{% extends "base.html" %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/home.css" />
{% endblock %}
	
{% block js %}
	<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}

{% block content %}

	<div class="page-top">
		<div class="page-top-container">
			<div class="box-caguei">
			</div>
			<div class="box-compartilhar">
			</div>
		</div>
	</div>

	<div class="page-bottom">
		<div class="page-bottom-container">
		</div>
	</div>

	<br><br><br><br><br><br>

	<input type="text" name="url-caguei" id="url-caguei">
	<a href="#" id="btn-caguei">Caguei</a>
	
	<br><br>

	<div id="msg-caguei"></div>

	<br><br>

    <h3>Top 10 URL's</h3><br>

	{% for url in top_urls %}
	<a href="/{{ url.id }}">{{ url.url }}</a><br>
	<b>{{ url.qtd }}</b> cagadas <br><br>
		
	{% endfor %}

	<br><br>

    <h3>Top 10 Assuntos</h3><br>

	{% for assunto in top_assuntos %}
	<a href="/assunto/{{ assunto.id }}">{{ assunto.descricao }}</a><br>
	<b>{{ assunto.qtd }}</b> cagadas <br><br>
	
	
	{% endfor %}

{% endblock %}

