{% extends "base.html" %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/home.css" />
{% endblock %}
	
{% block js %}
	<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}

{% block content %}

	<input type="text" name="url-caguei" id="url-caguei">
	<a href="#" id="btn-caguei">Caguei</a>
	
	<br><br>

	<div id="msg-caguei"></div>

	<br><br><br><br><br><br>
	<br><br><br><br><br><br>
	<br><br><br><br><br><br>
	<br><br><br><br><br><br>
	
	<div class="top-10">
		<div class="header-top-10-url">top 10 <strong>url</strong></div>

		{% for url in top_urls %}
			<a href="/{{ url.id }}">
				<div class="lista">
					<div class="ordem">{{ forloop.counter}}º</div>
					<div class="titulo">{{ url.get_titulo_curto }}</div>
					<div class="url">{{ url.get_url_curta }}</div>
					<div class="qtd"><strong>{{ url.qtd }}</strong> cagadas</div>
				</div>
			</a>
		{% endfor %}
	</div>
	
	<div class="top-10">
		<div class="header-top-10-assunto">top 10 <strong>assunto</strong></div>

		{% for assunto in top_assuntos %}
			<a href="/assunto/{{ assunto.id }}">
				<div class="lista">
					<div class="ordem">{{ forloop.counter}}º</div>
					<div class="data">{{ assunto.criacao }}</div>
					<div class="assunto">{{ assunto.get_descricao_curta }}</div>
					<div class="qtd"><strong>{{ assunto.qtd }}</strong> cagadas</div>
				</div>
			</a>
		{% endfor %}
	</div>

{% endblock %}

