{% extends "base.html" %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/url-detalhe.css" />
{% endblock %}
	
{% block js %}
	<script type="text/javascript" src="/static/js/url-detalhe.js"></script>
{% endblock %}

{% block content %}

<b>URL</b> = <a href="/{{ url.id }}"><span id="url-caguei">{{ url.url }}</span></a>
<br>
<b>Titulo</b> = {{ url.titulo }}
<br>
<b>Descrição</b> = {{ url.descricao }}
<br><br>
<span id="qtd-caguei"><b>{{ url.qtd }}</b> cagadas</span>
<br><br>

{% if url.caguei %}Caguei{% else %}<span id="btn-caguei"><a href="#">Caguei</a></span>{% endif %} | twitter | facebook | google plus

<br><br>

<div id="msg-caguei"></div>

{% endblock %}
