* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI',Calibri,'Myriad Pro',Myriad,'Trebuchet MS',Helvetica,Arial,sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline-style: none;
	outline-width: 0;
}

img {
	border: 0;
}

.header {
    height: 55px;
	background-image: url("/static/img/fundo-header.png");
}

.header .header-container {
	margin: 0 auto;
	width: 960px;
	display: table;
}

.header .header-container .title {
	float: left;
	margin-left: 10px;
}

.header .header-container .title a {
    color: #EEEEEE;
}

.header .header-container .title a img {
	display: block;
	float: left;
	margin-right: 10px;
    margin-top: 4px;
}

.header .header-container .title a h1 {
	display: block;
	float: left;
    font-size: 34px;
    font-weight: bold;
    margin-top: 5px;
}

.header .header-container .menu {
	float: right;
	margin-right: 100px;
}

.header .header-container .menu .botao {
	color: #EEEEEE;
	background: #7B99C6;
}

.header .header-container .menu .botao.botao-home {
	display: block;
	float: left;
	width: 130px;
	text-align: center;
	padding-top: 4px;
	height: 26px;
	margin-top: 12px;
	border-right: 1px solid #EEEEEE;
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;	
}

.header .header-container .menu .botao.botao-criar-assunto {
	display: block;
	float: right;
	width: 130px;
	text-align: center;
	padding-top: 4px;
	height: 26px;
	margin-top: 12px;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;	
	border-radius: 0 6px 6px 0;
}

.footer {
	background-color: #111A28;
    height: 55px;
}

.footer .footer-container {
	margin: 0 auto;
	width: 960px;
	display: table;
}

.footer .footer-container .copyright {
    float: left;
    margin-left: 10px;
    color: #EEEEEE;
    font-size: 11px;
    margin-top: 20px;
}

.footer .footer-container .email {
    float: right;
    margin-right: 10px;
    color: #EEEEEE;
    font-size: 11px;
    margin-top: 20px;
}
