* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body {
	background-color: #F9F9F9;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:focus {
	outline-style: none;
	outline-width: 0;
}

img {
	border: 0;
}

.bg-topo {
	background-color: #3B5998;
	height: 150px;
}

.topo {
	margin: 0 auto;
	width: 960px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: table;
}

h1 {
    color: #FFFFFF;
    font-family: 'Ruda', sans-serif;
    font-size: 48px;
}

.logo-site {
	float: left;
}

.nome-site {
    border-left: 1px solid #59709F;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    padding-left: 25px;
}

.email-site {
	float: right;
	margin-top: 25px;
	margin-right: 10px;
}

.menu {
    border-top: 1px solid #59709F;
	margin: 0 auto;
	width: 960px;
	display: table;
	color: #FFFFFF;
	font-weight: bold;
}

.menu a {
	color: #FFFFFF;
}

.item-menu-home {
	float: left;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 2px solid #3B5998;
}

.item-menu-criar-assunto {
	float: right;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 2px solid #3B5998;
}

.doc {
	margin: 0 auto;
	width: 960px;
	padding: 10px;
	display: table;
	margin-top: 60px;
	text-align: center;
}

#url-cagada {
	color: #333333;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #CAD4E7;
	width: 500px;
	margin-right: 10px;
}

#btn-caguei {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background: url("/static/img/btn-caguei.png") no-repeat scroll 10px 5px #ECEEF5;
    border: 1px solid #CAD4E7;
    color: #59709F;	
    font-size: 16px;
    padding: 11px 15px 11px 45px;
}