.box-caguei {
	display: table;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;
	width: 940px;
}

.box-caguei #url-caguei {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
    border: 1px solid #CCCCCC;
    color: #555;
    font-size: 18px;
    margin-right: 15px;
    padding: 10px;
    width: 550px;
    background: #FEFEFE;
    box-shadow: 0 0 20px 3px #888888;
    -moz-box-shadow: 0 0 20px 3px #888888;
    -webkit-box-shadow: 0 0 20px 3px #888888;
}

.box-caguei #btn-caguei {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background: url("/static/img/caguei-btn.png") no-repeat scroll 17px 5px #9ABDC8;
    border: 1px solid #4C8397;
    color: #EEEEEE;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px 10px 53px;
}

.barra-social {
	margin-left: 10px;
	margin-right: 10px;
	width: 938px;
	height: 26px;
	background: #E8E8E8;
	border: 1px solid #DDDDDD;
	margin-bottom: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.barra-social .button-social {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 100px;

}

#.box-caguei #msg-caguei {
#	margin-top: 80px;
#	width: 560px;
#	display: table;
#    font-size: 30px;
#    font-style: italic;
#    text-transform: lowercase;
#    color: #4C8397;
#}

.top-10 {
    background-image: url("/static/img/fundo-top-10-lista.png");
	width: 450px;
	height: 744px;
	margin-bottom: 30px;
	display: table;
	float: left;
}

.top-10.top-10-url {
	margin-left: 10px;
	margin-right: 20px;
}

.top-10.top-10-assunto {
	margin-left: 20px;
	margin-right: 10px;
}

.top-10 .header-top-10-url {
    background-image: url("/static/img/fundo-top-10-header.png");
    color: #EEEEEE;
    font-size: 22px;
    font-weight: bold;
    height: 44px;
    padding-left: 20px;
    padding-top: 15px;
}

.top-10 .header-top-10-assunto {
    background-image: url("/static/img/fundo-top-10-header.png");
    color: #EEEEEE;
    font-size: 22px;
    font-weight: bold;
    height: 44px;
    padding-left: 20px;
    padding-top: 15px;
}

.top-10 .header-top-10-url strong,
.top-10 .header-top-10-assunto strong {
	color: #A7BCD8;
}

.top-10 .lista {
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 20px;
    color: #111A28;
    font-size: 12px;
	margin-left: 5px;
	width: 400px;
}

.top-10 .lista .ordem {
    color: #4C8397;
    float: left;
    font-size: 38px;
    letter-spacing: -2px;
    margin-right: 20px;
    width: 50px;
    text-align: center;
}

.top-10 .lista .titulo {
	height: 15px;
	overflow: hidden;
	text-transform: lowercase;
}

.top-10 .lista .url {
	color: #4C8397;
	height: 15px;
	overflow: hidden;
	text-transform: lowercase;
	font-weight: bold;
}

.top-10 .lista .assunto {
	color: #4C8397;
	height: 15px;
	overflow: hidden;
	text-transform: lowercase;
	font-style: italic;
	font-weight: bold;
}